@import 'tailwindcss';

@import "tailwindcss";

@theme {
  --color-primary: #f2f2f2;
  --color-secondary: #8f9ba8;
  --color-background: #08070b;
  --color-hover: #212024;
  --color-command: rgba(255, 255, 255, 0.05);
  --color-linkedin: #0077b5;
  --color-instagram: #e1306c;
  --color-github: #777777;
  --color-geist-yellow: #ffff80;
  --color-geist-pink: #ff80bf;
  --color-geist-purple: #9580ff;
  --color-geist-red: #ff9580;
  --color-geist-orange: #ffca80;
  --color-geist-green: #8aff80;
  --color-geist-cyan: #80ffea;

  --font-sans: var(--font-sans), system-ui, -apple-system, sans-serif;
  --font-mono: var(--font-mono), monospace;
  --font-heading: var(--font-heading), monospace;

  --spacing-nav-height-desktop: 3.75rem;
  --spacing-nav-height-mobile: 6.875rem;

  --padding-nav-height-desktop: 3.75rem;
  --padding-nav-height-mobile: 6.875rem;

  --transition-duration-default: 0.2s;

  --radius-default: 0.5rem;
}

@source inline(
  bg-primary from-primary to-primary selection:bg-primary
  bg-secondary from-secondary to-secondary selection:bg-secondary
  bg-background from-background to-background selection:bg-background
  bg-geist-yellow from-geist-yellow to-geist-yellow selection:bg-geist-yellow
  bg-geist-pink from-geist-pink to-geist-pink selection:bg-geist-pink
  bg-geist-purple from-geist-purple to-geist-purple selection:bg-geist-purple
  bg-geist-red from-geist-red to-geist-red selection:bg-geist-red
  bg-geist-orange from-geist-orange to-geist-orange selection:bg-geist-orange
  bg-geist-green from-geist-green to-geist-green selection:bg-geist-green
  bg-geist-cyan from-geist-cyan to-geist-cyan selection:bg-geist-cyan
);

@layer base {
  * {
    @apply font-sans;
  }

  html,
  body {
    @apply bg-background antialiased;
  }

  ::-webkit-scrollbar {
    @apply w-1.5;
  }

  ::-webkit-scrollbar-track {
    @apply bg-[#151417];
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-lg border-8 border-solid border-primary bg-primary;
  }

  code {
    @apply rounded-lg bg-[#151417] font-mono text-[15px] text-primary;
  }

  :not(pre) > code {
    @apply p-1;
  }

  h1 {
    @apply mb-5 font-heading text-5xl leading-12.5 text-primary;
  }

  h2 {
    @apply mt-14 font-heading text-2xl text-primary;
  }

  a {
    @apply border-b border-solid border-primary text-primary no-underline transition-opacity duration-200 ease-in-out;
  }

  a:hover,
  a:focus {
    @apply opacity-80;
  }

  h3,
  h3 a {
    @apply mt-5 text-lg font-bold text-primary;
  }

  ul {
    @apply list-inside list-disc;
  }

  img {
    @apply rounded-lg;
  }

  p {
    @apply my-5 text-secondary;
  }

  strong {
    @apply font-medium text-primary;
  }

  blockquote {
    @apply border-l-4 border-solid border-hover pl-5 italic text-secondary;
  }
}
